@using ImbaBetWeb.Logic.Helper
@using ImbaBetWeb.ViewModels.DTO
@using ImbaBetWeb.ViewModels.GamePlan
@model MatchViewModel

@{
    ViewData["Title"] = "Match";
    var match = Model.Match;
}
<h1>@ViewData["Title"]</h1>
<br />
<br />

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="@Url.Content(FlagHelpers.GetLargeFlagPath(match.TeamA))" alt="Image" width="256" height="192" /><br /><br />
            <h2>@(match.TeamA?.Name ?? match.AlternativeTeamAText)</h2>
        </div>
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <h1>@(match.GoalsA) : @(match.GoalsB)</h1>
        </div>
        <div class="col">
            <img src="@Url.Content(FlagHelpers.GetLargeFlagPath(match.TeamB))" alt="Image" width="256" height="192" /><br /><br />
            <h2>@(match.TeamB?.Name ?? match.AlternativeTeamBText)</h2>
        </div>
    </div>
</div>
<br/>
<br />

@if (Model.ActiveBets.Any())
{
    <table class="table table-hover">
        <colgroup>
            <col span="1" style="width: 33%;">
            <col span="1" style="width: 33%;">
            <col span="1" style="width: 34%;">
        </colgroup>
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Bet
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bet in Model.ActiveBets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => bet.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bet.GoalsA) : @Html.DisplayFor(modelItem => bet.GoalsB)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
}
@if (Model.ClosedBets.Any())
{
    <table class="table table-hover">
        <colgroup>
            <col span="1" style="width: 33%;">
            <col span="1" style="width: 33%;">
            <col span="1" style="width: 34%;">
        </colgroup>
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Bet
                </th>
                <th>
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bet in Model.ClosedBets)
            {
                <tr @(bet.Points > 0 ? "class=table-success" : "")>
                    <td>
                        @Html.DisplayFor(modelItem => bet.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bet.GoalsA) : @Html.DisplayFor(modelItem => bet.GoalsB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bet.Points)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}